* {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
    font-family: mulish;
}

a {
    text-decoration: none !important;
}

.navbar-wrap {
    background-color: #090e12;
}

.navbar-row {
    padding: 2% 10%;
}

.logo img {
    width: 200px;
}

.menu-col {
    text-align: right;
}

.contact-btn {
    padding: 8px 40px 10px !important;
    border-radius: 70px !important;
    font-size: 14px;
    font-weight: 700;
    color: white;
    /* background: linear-gradient(90deg, #055aa6 0%, #e6333f 100%); */
    background-color: #1d2b33;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.contact-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 70px !important;
}

.contact-btn:active {
    color: #000
}

.contact-btn:active:after {
    background: transparent;
}

.contact-btn:hover:before {
    opacity: 1;
}

.contact-btn:hover {
    color: white !important;
}

.contact-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 70px !important;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.page-wrap {
    background: linear-gradient(90deg, rgba(17, 27, 33, 1) 75%, rgba(11, 20, 26, 1) 75%);
    height: auto;
    padding: 6% 10% !important;
    display: flex;
    align-items: center;

}

.page-wrap .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-col h1 {
    color: white;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3em;
    padding-right: 30%;

}

.text-col p {
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3em;
    padding-right: 20%;
    padding-top: 3%;

}

.hero-lighlight-text {
    color: #25D366;
}

.input-col {
    padding: 0 0 0 5% !important;
}

.input-box {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12% 6% 6%;
    border-radius: 16px;
    position: relative;
}

.input-box::before {
    content: url(/assests/logo/Linksapp-Logo.svg);
    width: 230px;
    position: absolute;
    top: -30px;
    padding: 2% 2% 1%;
    background-color: white;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: #efefef 0px 6px 5px 0px;
}

.input-box label {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: #303030;
    padding-bottom: 2%;
}

.input-box .label2 {
    padding: 2% 0 !important;
}

.input-box input {
    width: 100%;
    padding: 3% !important;
    height: 60px;
    border-radius: 10px;
    background-color: #ececec;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;

}

.shake {
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 3000ms 5 linear;
    outline: 2px solid red !important;
}

@keyframes shake {
    0% {
        transform: translate(10px, 0);
    }

    50% {
        transform: translate(-10 px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-moz-keyframes shake {
    0% {
        -moz-transform: translate(3px, 0);
    }

    50% {
        -moz-transform: translate(-3px, 0);
    }

    100% {
        -moz-transform: translate(0, 0);
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(3px, 0);
    }

    50% {
        -webkit-transform: translate(-3px, 0);
    }

    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-ms-keyframes shake {
    0% {
        -ms-transform: translate(3px, 0);
    }

    50% {
        -ms-transform: translate(-3px, 0);
    }

    100% {
        -ms-transform: translate(0, 0);
    }
}

@-o-keyframes shake {
    0% {
        -o-transform: translate(3px, 0);
    }

    50% {
        -o-transform: translate(-3px, 0);
    }

    100% {
        -o-transform: translate(0, 0);
    }
}

.input-box textarea {
    width: 100%;
    padding: 3% !important;
    border-radius: 10px;
    background-color: #ececec;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 0;
}

.input-box ::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: #717171;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

.buttons-row button {
    width: 49%;
}

.generate-btn {
    background: #25D366;
    border-radius: 10px;
    border: none;
    padding: 4%;
    font-size: 18px;
    font-weight: 600;
}

.preview-btn {
    background: #b4b4b4;
    border-radius: 10px;
    border: none;
    padding: 4%;
    font-size: 18px;
    font-weight: 600;
}

.link-box {
    padding: 3%;
    background-color: #ececec;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.link {
    font-size: 18px;
    font-weight: 500;
    color: black;
    white-space: nowrap;
    text-overflow: clip;
    display: inline-block;
}

.link:hover {
    animation: scrolling 5s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.copy-btn {
    border-radius: 10px;
    width: 50px;
    border: none;
    padding: 4%;
    background-color: #25D366;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(0, -50%);
}

.copy-btn svg {
    stroke: rgb(255, 255, 255);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #1bd741;
    color: #fff;
    text-align: center;
    border-radius: 13px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30px;
    font-size: 17px;
    font-weight: 600;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}